html,
body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

html {
  font-size: 62.5%;
}

textarea {
  overflow: auto;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
  width: 60%;
}

h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

p {
  margin: 0 0 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.col-md-6,
.col-md-7,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

input[type="submit"].btn-block {
  width: 100%;
}

.header {
  background: url(../images/umuzi-x-bbd-bg.jpeg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 900px;
}

.header-logo {
  float: left;
  margin-top: 3em;
}

.top-nav {
  float: right;
}

.header-info {
  margin-top: 24%;
  position: relative;
}

.header-info p {
  font-size: 61px;
  font-weight: 700;
  color: #fff;
}

.header-info span {
  font-size: 50px;
  font-family: "Poiret One", cursive;
  color: #fff;
  font-weight: 100;
}

.header-info span.sub-text {
  font-size: 60px;
  font-weight: 300;
}

.red {
  color: #c72424;
  font-size: 33px;
  font-weight: 800;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li {
  position: relative;
  display: block;
  float: left;
}

.about {
  position: relative;
}

.about h3 {
  font-size: 39px;
  font-weight: 700;
  color: #000000;
  margin: 0.5em 0;
}

.border {
  width: 70%;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

.map {
  margin: 3em 0 1em 0;
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

.border-bottom {
  border-bottom: 1px solid #cccccc;
}

.about p {
  font-size: 1.4em;
  color: #666;
  line-height: 1.8em;
  margin-bottom: 40px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-image {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.gallery-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.contact {
  margin: 0 0 6em 0;
}

.contact h3 {
  font-size: 39px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 0.5em 0;
}

form input[type="text"] {
  width: 100%;
  padding: 3% 0;
  margin: 0 1em 1em 0;
  color: #999999;
  font-size: 16px;
  outline: none;
  font-weight: 700;
  border: none;
}

form input[type="submit"] {
  width: 50%;
  padding: 0.7em 0;
  background: #c72424;
  text-align: center;
  font-size: 16px;
  color: #fff;
  outline: none;
  border: none;
  -webkit-appearance: none;
}

form input[type="submit"]:hover {
  background: #faae0b;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

form textarea {
  resize: none;
  width: 100%;
  padding: 3% 0;
  color: #999999;
  font-size: 16px;
  outline: none;
  font-weight: 700;
  border: 1px;
  min-height: 69px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1 1 200px;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f0f0f0;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 20px;
  height: 20px;
}

.copyright {
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.copyright p {
  font-size: 1.5rem;
  color: #f0f0f0;
  font-weight: 700;
}

.copyright p a {
  color: #f0f0f0;
  font-weight: 500;
  text-decoration: none;
}

.copyright p a:hover {
  color: #c72424;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 2%;
  overflow: hidden;
  width: 22px;
  height: 13px;
  border: none;
  text-indent: 100%;
  background: url("../images/up-arrow.png") no-repeat 0px 0px;
}

#toTopHover {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
